<div>
    <div>
        <div>
            {{#each blogs as |blog|}}
            <h2>
                <a href="/blog/{{blog.id}}">{{blog.title}}</a>
            </h2>
            <p>
                {{blog.content}}
            </p>
            <p>Created by {{blog.username}} on {{format_amount blog.date_created}}</p>
            {{/each}}
        </div>
        <div>
            <p>
        
            </p>
        </div>
    </div>
</div>
